body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: algerian, courier;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #000;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
}

.menu-button {
  display: block;
  width: 450px;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  font-size: 1.5rem;
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
  text-decoration: none;
  color: #000;
}

.menu-button:hover {
  background: radial-gradient(circle, rgba(255,255,85,1) 0%, rgba(255,255,255,0) 100%);
}

.menu {
  text-align: center;
}

.foCim{
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.szoveg{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.5em;
}

.szoveg p{
  margin-top: 5px;
}
.szoveg h3{
  margin-bottom: 5px;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-example {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  font-size: 1.5rem;
}

.card-example .card-example-img {
  width: 150px;
  margin: 10px 50px;
}

.card-example-img {background-color: white;}

#fight {
  position: absolute;
  width: 100%;
  height: calc(100vh/7*5);
  /* background-color: rgba(100, 100, 100, .1); */
  background-image: url(Pictures/pixel-battlefield.gif);
  background-size: cover;
  background-position-y: -100px;
}

#ui {
  position: absolute;
  width: 100%;
  height: calc(100vh/7*2);
  background-color: rgba(0, 0, 0, .1);
  bottom: 0;
}

#rounds {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
}

#characters {
  position: absolute;
  bottom: 50px;
}

#characters, #enemies {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#enemies {
  width: 1100px;
}

#hero, #enemy1, #enemy2, #enemy3 {
  height: 450px;
  width: 300px;
  /* border-radius: 50px;
  background-color: rgba(0, 0, 0, .3); */
}

.hp-container, .mana-container {
  background-color: rgba(100, 100, 100, 0.2);
  width: 80%;
  height: 20px;
  margin-top: 20px;
  margin-left: calc(10% - 5px);
  border: black solid 4px;
  border-radius: 5px;
}

.mana-container {
  margin-top: 5px;
}

.hptext, .manatext {
  margin: 0;
  text-align: center;
  color: white;
}

#index {
  background-image: url(Pictures/Index.png);
}

#index .container {
  margin-top: 250px;
  justify-content: end;
}

#magyarazat-bg {
  background-image: url(Pictures/Magyarazat.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  opacity: .6;
}

#enemies img {
  height: 350px;
  position: absolute;
  bottom: 0;
}

#hero img {
  width: 200px;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
}

#enemy1, #enemy2, #enemy3 {
  display: flex;
  justify-content: center;
}
/* Kártyák stílusa */
.card {
  display: inline-block;
  margin: 20px;
  width: 150px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  position: relative;
  animation: slideIn 1s ease-out forwards;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: all 0.3s ease;
}

/* Animáció, ami a kártyákat beviszi */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Glow effekt */
.card:hover .card-img {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
  transform: scale(1.1);
}



.card {
  cursor: grab;
}

.card.dragging {
  opacity: 0.5;
  cursor: grabbing;
}
