body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: algerian, courier;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #000;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
}

.menu-button {
  display: block;
  width: 450px;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  font-size: 1.5rem;
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
  text-decoration: none;
  color: #000;
}

.menu-button:hover {
  background: radial-gradient(circle, rgba(255,255,85,1) 0%, rgba(255,255,255,0) 100%);
}

.menu {
  text-align: center;
}

.foCim{
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.szoveg{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.5em;
}

.szoveg p{
  margin-top: 5px;
}
.szoveg h3{
  margin-bottom: 5px;
}

#magyarazat #cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-example {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  font-size: 1.5rem;
}

.card-example .card-example-img {
  width: 150px;
  margin: 10px 50px;
}

.card-example-img {background-color: white;}

#fight {
  position: absolute;
  width: 100%;
  height: calc(100vh/7*5);
  /* background-color: rgba(100, 100, 100, .1); */
  background-image: url(Pictures/pixel-battlefield.png);
  background-size: cover;
  background-position-y: -100px;
}

#ui {
  position: absolute;
  width: 100%;
  height: calc(100vh/7*2);
  background-color: rgba(0, 0, 0, .1);
  bottom: 0;
  display: flex;
  justify-content: space-between;
  background-image: url(Pictures/UIBackground.png);
  background-size: cover;
}

#rounds {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
}

#characters {
  position: absolute;
  bottom: 50px;
}

#characters, #enemies {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#enemies {
  width: 1100px;
}

#hero, .enemy {
  height: 450px;
  width: 300px;
  z-index: 100;
}

#hero img {
  width: 200px;
  position: absolute;
  bottom: 0;
  margin-left: 50px;
  pointer-events: none;
}

.enemy {
  position: absolute;
  display: flex;
  justify-content: center;
}

.enemy img {
  height: 350px;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}

#enemy0 {
  right: 900px;
}

#enemy1 {
  right: 500px;
}

#enemy2 {
  right: 100px;
}

.intentions {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  width: 100%;
  font-size: 18pt;
  text-align: center;
  position: absolute;
  opacity: 0;
  z-index: 100;
  top: 10px;
  padding: 10px 0;
  pointer-events: none;
}

.intentions h2 {
  margin: 0;
  margin-bottom: 5px;
}

.enemy:hover .intentions {
  opacity: 1;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.hp-container, #mana-container {
  background-color: rgb(255,0,0);
  width: 80%;
  height: 20px;
  margin-top: 20px;
  margin-left: calc(10% - 5px);
  border: black solid 4px;
  border-radius: 5px;
  text-align: center;
  color: white;
  margin: 5px auto;
  pointer-events: none;
}

#mana-container {
  margin-top: 5px;
  background-color: rgb(85, 85, 255);
}

#index {
  background-image: url(Pictures/Index.png);
}

#index .container {
  margin-top: 250px;
  justify-content: end;
}

#magyarazat-bg {
  background-image: url(Pictures/Magyarazat.png);
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  opacity: .6;
}

/* Kártyák stílusa */
.card {
  display: inline-block;
  width: 165px;
  height: 250px;
  border-radius: 10px;
  position: relative;
  animation: slideIn 1s ease-out forwards;
}

.card-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all .2s;
}

.card-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, .75);
  opacity: 0;
  position: absolute;
  width: 145px;
  height: 210px;
  border-radius: 10px;
  top: 0;
  margin: 0;
  padding: 20px 10px;
}

.card-text span {
  font-weight: bold;
  text-transform: uppercase;
}

.card-mana {
  position: absolute;
  top: -9px;
  left: 22px;
  color: white;
  font-size: 18pt;
}

.card:hover .card-text {
  opacity: 1;
}

.card:hover .card-mana {
  opacity: 0;
}

/* Animáció, ami a kártyákat beviszi */
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Glow effekt */
.card:hover .card-img {
  box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
}

.card:hover {
  transform: scale(1.05);
}

.card {
  cursor: grab;
}

#harc #cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#stats, #next-turn{
  display: flex;
  justify-content: center;
  align-items: center;
}

#stats p {
  font-size: 18pt;
  border: black solid 4px;
  border-radius: 50px;
  color: white;
  text-align: center;
  margin: 10px;
  width: 120px;
  padding: 44.5px 0;
}

#mana {
  background-color: rgb(85, 85, 255);
  background-image: url(Pictures/mana.png);
  background-size: cover;
}

#health {
  background-color: rgb(255, 85, 85);
  background-image: url(Pictures/heart.png);
  background-size: cover;
}

#next-turn button {
  font-size: 25pt;
  border-radius: 20px;
  padding: 10px;
  border: black 3px solid;
  background-color: khaki;
}

#next-turn button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#lose, #win {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(150, 150, 150, .5);
  z-index: 101;
  text-align: center;
  font-size: 30pt;
  display: none;
}

#lose h1, #win h1 {
  font-size: 60pt;
  font-weight: bold;
  margin-top: 200px;
}

#lose a, #win a {
  font-size: 20pt;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}