body {
  margin: 0;
  height: 100vh;
  background-color: #f0f0f0;
  font-family: algerian, courier;
}

.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.character-placeholder {
  width: 250px;
  height: 666.67px;
  background-color: #00ff00;
  border-radius: 125px;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  color: #000;
  margin-bottom: 20px;
}

.back-button {
  position: absolute;
  top: 30px;
  left: 30px;
}

.menu-button {
  display: block;
  width: 450px;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  font-size: 1.5rem;
  background: radial-gradient(circle, rgba(204,204,204,1) 0%, rgba(255,255,255,0) 100%);
  text-decoration: none;
  color: #000;
}

.menu-button:hover {
  background: radial-gradient(circle, rgba(255,255,85,1) 0%, rgba(255,255,255,0) 100%);
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foCim{
  font-weight: 400;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.szoveg{
  margin-left: 100px;
  margin-right: 100px;
  font-size: 1.5em;
}

.szoveg p{
  margin-top: 5px;
}
.szoveg h3{
  margin-bottom: 5px;
}

#cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 1000px;
  font-size: 1.5rem;
}

.card .card-img {
  width: 150px;
  margin: 10px 50px;
}

#fight {
  position: absolute;
  width: 100%;
  height: calc(100vh/3*2);
  background-color: rgba(100, 100, 100, .1);
}

#ui {
  position: absolute;
  width: 100%;
  height: calc(100vh/3);
  background-color: rgba(0, 0, 0, .1);
  bottom: 0;
}

#rounds {
  margin: 0;
  text-align: center;
  font-size: 3rem;
  padding-top: 20px;
}

#characters {
  position: absolute;
  bottom: 0;
}

#characters, #enemies {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

#enemies {
  width: 1100px;
}

#hero, #enemies div {
  height: 500px;
  width: 300px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .3);
}